* {
  padding: 0;
  margin: 0;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
}

.input {
  font-size: 15px;
  border-radius: 30px;
  border: none;
  height: 25px;
  padding: 5px;
}

.input:focus{
  border: none;
  outline: none;
}

button {
  font-size: 15px;
  border-radius: 30px;
  background-color: white;
  border: none;
  height: 30px;
  width: 60px;
  
}

body{
  background: rgb(88, 0, 140);
  background: linear-gradient(
    90deg,
    rgba(88, 0, 140, 1) 0%,
    rgba(170, 23, 203, 1) 61%,
    rgba(178, 107, 223, 1) 100%
  );
}

.box{
height: 20rem;
display: flex;
align-items: center;
justify-content: center;
}

.card{
  height: 100%;
  width: 15rem;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  line-height: 25px;
}

.abhi{
  background-color: rgb(30, 190, 249);
  width: 300px;
  border-radius: 20px;
  margin-top: 19%;
 
  border: 10px rgb(255, 251, 0) solid;
  
}

.xyz{
  display: flex;
  align-items: center;
  justify-content: center;

}